{% extends "::base.html.twig" %}

{% block body %}
    <div class="menubar top">
        <table>
            <tr>
                <td class="left">

                </td>
                <td class="center">
                    <h2>MAP EDITOR</h2><span id="mapname">Unnamed</span><span id="savestatus">(Unsaved)</span>
                </td>
                <td class="right">
                    {% image '@AtteroGameBundle/Resources/public/images/loadicon.png' %}
                        <div class="icon" id="loadicon" style="background-image:url({{ asset_url }})"></div>
                    {% endimage %}
                    {% image '@AtteroGameBundle/Resources/public/images/saveicon.png' %}
                        <div class="icon" id="saveicon" style="background-image:url({{ asset_url }})"></div>
                    {% endimage %}
                    {% image '@AtteroGameBundle/Resources/public/images/menuicon.png' %}
                        <div class="icon" id="settingsicon" style="background-image:url({{ asset_url }})"></div>
                    {% endimage %}
                </td>
            </tr>
        </table>
    </div>
    <!-- <canvas id="testcanvas" width="40" height="40" style="position:absolute;z-index:200;border:1px solid white;"></canvas> -->
    <div id="texturecontainer"></div>
    <div class="menubar bottom"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AtteroGameBundle/Resources/public/css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    {% javascripts
        '@AtteroGameBundle/Resources/public/js/requestAnimFrame.js'
        '@AtteroGameBundle/Resources/public/js/ResourceLoader.js'
        '@AtteroGameBundle/Resources/public/js/Loadable.js'
        '@AtteroGameBundle/Resources/public/js/Tile.js'
        '@AtteroGameBundle/Resources/public/js/GameTile.js'
        '@AtteroGameBundle/Resources/public/js/TileGrid.js'
        '@AtteroGameBundle/Resources/public/js/Texture.js'
        '@AtteroGameBundle/Resources/public/js/Three.js'
        '@AtteroGameBundle/Resources/public/js/Graphics.js'
        '@AtteroGameBundle/Resources/public/js/Scrolling.js'
        '@AtteroGameBundle/Resources/public/js/MouseWheel.js'
        '@AtteroGameBundle/Resources/public/js/Zooming.js'
        '@AtteroGameBundle/Resources/public/js/Landscaping.js'
        '@AtteroGameBundle/Resources/public/js/SideSlideMenu.js'
        '@AtteroGameBundle/Resources/public/js/TileElement.js'
        '@AtteroGameBundle/Resources/public/js/ImageManipulation.js'
        '@AtteroGameBundle/Resources/public/js/WaterLayer.js'
        '@AtteroGameBundle/Resources/public/js/Grid.js'
        '@AtteroGameBundle/Resources/public/js/FogOfWar.js'
        '@AtteroGameBundle/Resources/public/js/editor/UIEvents.js'
        '@AtteroGameBundle/Resources/public/js/ContourShadowDefinitions.js'
        '@AtteroGameBundle/Resources/public/js/confirm.js'
        '@AtteroGameBundle/Resources/public/js/SaveLoad.js'
        '@AtteroGameBundle/Resources/public/js/MathLib.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        function dynamicResourcesLoaded()
        {

            window.textureMenu = new SideSlideMenuTextures('right', 0, 'top:100px', 'auto', window.availableTextures);
            window.brushMenu = new SideSlideMenuBrush('left', 0, 'top:100px', 'auto');
            window.brushMenu = new SideSlideMenuBrushSize('left', 0, 'top:180px', 'auto');
            window.tileElementMenu = new SideSlideMenuTileElements('right', 0, 'top:350px', 'auto', window.availableTileElements);


            Graphics.init();
            Graphics.animate();
            WaterLayer.init();
            Grid.init();

            MouseWheel.hookEvent(jQuery(".webglCanvas").get(0), 'mousewheel', Zooming.mouseWheel);

            jQuery(".webglCanvas").on("click", TileGrid.onGridClicked);

            jQuery(".webglCanvas").on("mousedown", Scrolling.mousedown);
            jQuery(".webglCanvas").on("mouseup", Scrolling.mouseup);
            jQuery(".webglCanvas").on("mouseout", Scrolling.mouseout);
            jQuery(".webglCanvas").on("mousemove", Scrolling.mousemove);

            ResourceLoader.remove();
        }


        function staticResourcesLoaded()
        {
            TileGrid.width = 100;
            TileGrid.height = 100;
            TileGrid.createDefaultGameTiles();
            ResourceLoader.loadTiles(dynamicResourcesLoaded);
        }
    </script>
{% endblock %}
